Repository sapphiredev/framework, pull requests merged in 2020-08, with the labels that each got.

#17 chore: rebrand to The Sapphire Project
  .all-contributorsrc
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/SECURITY.md
  .prettierrc
  LICENSE.md
  README.md
  package.json
  src/lib/structures/Command.ts
  src/lib/structures/CommandStore.ts
  src/lib/structures/Monitor.ts
  src/lib/structures/MonitorStore.ts
  src/lib/utils/decorators/monitor.ts
  typedoc.json
Labels: Meta: Github, Status: Review Ready

#29 feat: finish command handler
  .vscode/settings.json
  package.json
  src/arguments/CoreInteger.ts
  src/arguments/CoreString.ts
  src/events/CoreReady.ts
  src/events/command-handler/CoreCommandAccepted.ts
  src/events/command-handler/CoreMessageParser.ts
  src/events/command-handler/CorePreCommandRun.ts
  src/index.ts
  src/lib/SapphireClient.ts
  src/lib/structures/Argument.ts
  src/lib/structures/ArgumentStore.ts
  src/lib/structures/Command.ts
  src/lib/structures/Event.ts
  src/lib/structures/base/BaseAliasStore.ts
  src/lib/structures/base/BaseStore.ts
  src/lib/types/Events.ts
  src/lib/utils/Args.ts
  src/lib/utils/preconditions/IPreconditionContainer.ts
  src/lib/utils/preconditions/PreconditionContainerAny.ts
  src/preconditions/DMOnly.ts
  src/preconditions/GuildOnly.ts
  src/preconditions/NSFW.ts
  yarn.lock
Labels: Meta: Feature, Priority: Critical, Type: Enhancement

#38 feat(core): added logger
  src/index.ts
  src/lib/SapphireClient.ts
  src/lib/utils/logger/ILogger.ts
  src/lib/utils/logger/Logger.ts
Labels: Meta: Feature, SEM: Minor, Status: Review Ready, Type: Enhancement

#40 feat(index): re-export useful exports from @sapphire/pieces
  src/index.ts
Labels: Meta: Feature, Priority: High, SEM: Minor, Status: Review Ready

#39 feat(args): add overload for IArgument
  src/lib/structures/Argument.ts
  src/lib/utils/Args.ts
Labels: Meta: Feature, SEM: Minor

#41 chore(legal): remove copyright notices to Dirigeants
  src/lib/structures/Command.ts
  src/lib/structures/CommandStore.ts
Labels: Meta: BugFix, SEM: N/A

#42 refactor(command): document everything, remove unused options
  src/lib/structures/Command.ts
Labels: Meta: Cleanup, Meta: Refactor, Status: Review Ready, Type: Enhancement

#43 feat(core): add base i18n handlers
  src/index.ts
  src/lib/SapphireClient.ts
  src/lib/extensions/SapphireMessage.ts
  src/lib/utils/i18n/IInternationalization.ts
  src/lib/utils/i18n/Internationalization.ts
Labels: Meta: Cleanup, Meta: Feature, SEM: Minor, Status: Ready To Merge, Type: Enhancement

#45 feat: add pregenericsinitialization plugin hook
  src/lib/SapphireClient.ts
  src/lib/plugins/Plugin.ts
  src/lib/plugins/PluginManager.ts
  src/lib/plugins/symbols.ts
  src/lib/types/Enums.ts
  src/tsconfig.json
  yarn.lock
Labels: SEM: Major

#48 build(dev): add typedoc-plugin-nojekyll for proper gh-pages
  package.json
  yarn.lock
Labels: Meta: Documentation
