Repository sapphiredev/framework, pull requests merged in 2020-12, with the labels that each got.

#112 feat(*): output type declarations to a single .d.ts file
  .github/workflows/continuous-delivery.yml
  .github/workflows/continuous-integration.yml
  .gitignore
  package.json
  rollup.config.ts
  scripts/clean-dist.mjs
  scripts/pre-publish.mjs
  src/arguments/CoreChannel.ts
  src/arguments/CoreDMChannel.ts
  src/arguments/CoreUser.ts
  src/events/CoreReady.ts
  src/events/command-handler/CoreCommandAccepted.ts
  src/events/command-handler/CoreMessageParser.ts
  src/events/command-handler/CorePreCommandRun.ts
  src/events/command-handler/CorePrefixedMessage.ts
  src/index.ts
  src/lib/SapphireClient.ts
  src/lib/plugins/Plugin.ts
  src/lib/plugins/PluginManager.ts
  src/lib/structures/Argument.ts
  src/lib/structures/ArgumentStore.ts
  src/lib/structures/Command.ts
  src/lib/structures/CommandStore.ts
  src/lib/structures/Event.ts
  src/lib/structures/EventStore.ts
  src/lib/structures/ExtendedArgument.ts
  src/lib/structures/Precondition.ts
  src/lib/structures/PreconditionStore.ts
  src/lib/structures/base/BaseAliasPiece.ts
  src/lib/structures/base/BaseAliasStore.ts
  src/lib/structures/base/BasePiece.ts
  src/lib/structures/base/BaseStore.ts
  src/lib/utils/Result.ts
  src/lib/utils/Types.ts
  src/lib/utils/i18n/IInternationalization.ts
  src/lib/utils/i18n/Internationalization.ts
  src/lib/utils/preconditions/IPreconditionContainer.ts
  src/lib/utils/preconditions/PreconditionContainerAny.ts
  src/preconditions/Permissions.ts
  tsconfig.eslint.json
  yarn.lock
Labels: Meta: Feature, Priority: Medium, SEM: Major

#113 feat: re-export public-facing structures from pieces
  src/index.ts
Labels: Meta: Feature

#114 chore: chorey chores
  .github/workflows/codeql-analysis.yml
  .prettierrc
  package.json
  yarn.lock
Labels: Meta: Github

#116 refactor: remove i18n code
  src/index.ts
  src/lib/SapphireClient.ts
  src/lib/extensions/SapphireMessage.ts
  src/lib/utils/i18n/IInternationalization.ts
  src/lib/utils/i18n/Internationalization.ts
Labels: Meta: Cleanup, SEM: Major

#118 feat(arguments): Add Message argument, use discord-utilities
  package.json
  src/arguments/CoreDMChannel.ts
  src/arguments/CoreGuildChannel.ts
  src/arguments/CoreMember.ts
  src/arguments/CoreMessage.ts
  src/arguments/CoreNewsChannel.ts
  src/arguments/CoreRole.ts
  src/arguments/CoreTextChannel.ts
  src/arguments/CoreUser.ts
  src/arguments/CoreVoiceChannel.ts
  src/lib/utils/Args.ts
  yarn.lock
Labels: Meta: Feature, SEM: Minor, Type: Enhancement

#119 feat: new preconditions
  src/index.ts
  src/lib/structures/Command.ts
  src/lib/utils/preconditions/IPreconditionContainer.ts
  src/lib/utils/preconditions/PreconditionContainer.ts
  src/lib/utils/preconditions/PreconditionContainerAny.ts
  src/lib/utils/preconditions/PreconditionContainerArray.ts
  src/lib/utils/preconditions/PreconditionContainerSimple.ts
  src/lib/utils/preconditions/PreconditionContainerSingle.ts
  src/lib/utils/preconditions/conditions/IPreconditionCondition.ts
  src/lib/utils/preconditions/conditions/PreconditionConditionAnd.ts
  src/lib/utils/preconditions/conditions/PreconditionConditionOr.ts
  src/lib/utils/preconditions/containers/PermissionsPrecondition.ts
Labels: Meta: Feature, Meta: Refactor, SEM: Major, Type: Enhancement
