Repository sapphiredev/framework, pull requests merged in 2020-11, with the labels that each got.

#87 fix: small docs inconsistency
  src/lib/utils/strategies/FlagUnorderedStrategy.ts
Labels: Event: Hacktoberfest

#89 docs: add missing contributors
  .all-contributorsrc
  README.md
Labels: Meta: Documentation

#94 refactor(errors): assign names to error classes
  src/lib/errors/ArgumentError.ts
  src/lib/errors/PreconditionError.ts
  src/lib/errors/UserError.ts
Labels: Meta: Refactor, Priority: Low
