Repository sapphiredev/framework, pull requests merged in 2020-09, with the labels that each got.

#51 chore: various repo chores
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/codeql-analysis.yml
  .github/workflows/continuous-integration.yml
  package.json
Labels: Meta: Github

#59 feat(arguments): more helpers, added richer errors
  src/arguments/CoreInteger.ts
  src/arguments/CoreString.ts
  src/index.ts
  src/lib/errors/ArgumentError.ts
  src/lib/structures/Argument.ts
  src/lib/utils/Args.ts
Labels: Meta: Cleanup, Meta: Feature, Meta: Refactor, SEM: Minor, Status: Review Ready, Type: Enhancement

#47 feat(flags): Add flag parsing
  src/lib/structures/Command.ts
  src/lib/utils/Args.ts
  src/lib/utils/strategies/FlagUnorderedStrategy.ts
  tests/Flags.test.ts
Labels: Meta: Feature, Priority: Medium, Type: Enhancement

#62 fix(command-handler): make checks more strict
  src/events/command-handler/CoreMessageParser.ts
Labels: Meta: BugFix, Type: Enhancement

#63 feat(arguments): added more resolvers
  src/arguments/CoreChannel.ts
  src/arguments/CoreDMChannel.ts
  src/arguments/CoreDate.ts
  src/arguments/CoreFloat.ts
  src/arguments/CoreHyperlink.ts
  src/arguments/CoreMember.ts
  src/arguments/CoreNewsChannel.ts
  src/arguments/CoreNumber.ts
  src/arguments/CoreRole.ts
  src/arguments/CoreTextChannel.ts
  src/arguments/CoreUser.ts
  src/arguments/CoreVoiceChannel.ts
  src/lib/structures/Argument.ts
  src/lib/structures/ArgumentStore.ts
  src/lib/utils/Args.ts
  src/lib/utils/strategies/FlagUnorderedStrategy.ts
Labels: Meta: Feature, SEM: Minor, Status: Review Ready, Type: Enhancement

#64 feat: added permissions precondition and utilities
  src/events/command-handler/CoreMessageParser.ts
  src/index.ts
  src/lib/errors/PreconditionError.ts
  src/lib/structures/Precondition.ts
  src/lib/utils/preconditions/PreconditionContainerSimple.ts
  src/lib/utils/preconditions/containers/PermissionsPrecondition.ts
  src/preconditions/DMOnly.ts
  src/preconditions/GuildOnly.ts
  src/preconditions/NSFW.ts
  src/preconditions/Permissions.ts
Labels: Meta: Cleanup, Meta: Feature, Meta: Refactor, Meta: Typings, SEM: Minor, Status: Review Ready, Type: Enhancement

#65 feat(events): add commandSuccess, change commandFinish
  src/events/command-handler/CoreCommandAccepted.ts
  src/lib/types/Events.ts
Labels: Meta: Feature, SEM: Major, Status: Review Ready, Type: Enhancement

#72 readme: add support server
  README.md
Labels: Meta: Github
