Repository sapphiredev/framework, pull requests merged in 2020-10, with the labels that each got.

#77 feat: pass error into Events.CommandDenied
  src/events/command-handler/CoreCommandAccepted.ts
  src/events/command-handler/CorePreCommandRun.ts
  src/events/command-handler/CorePrefixedMessage.ts
  src/lib/types/Events.ts
Labels: Event: Hacktoberfest, Meta: Refactor, SEM: Major

#78 fix: do not run disabled commands
  src/events/command-handler/CorePreCommandRun.ts
Labels: Event: Hacktoberfest

#80 fix: remove bug breaking prefixless commands
  src/events/command-handler/CoreMessageParser.ts
Labels: Event: Hacktoberfest

#82 feat: implement additional parsing methods for core arguments
  src/arguments/CoreMember.ts
  src/arguments/CoreRole.ts
  src/arguments/CoreUser.ts
Labels: Event: Hacktoberfest

#85 test: ts-ify jest config
  .gitignore
  jest.config.js
  jest.config.ts
  package.json
  tsconfig.eslint.json
  yarn.lock
Labels: Event: Hacktoberfest, Meta: Refactor

#84 feat: added some minor QoL features, and a lot of docs
  src/lib/SapphireClient.ts
  src/lib/structures/Argument.ts
  src/lib/structures/Event.ts
  src/lib/utils/logger/ILogger.ts
Labels: Event: Hacktoberfest, Meta: Documentation, Meta: Feature, SEM: Minor, Type: Enhancement

#76 feat: added cooldown precondition
  package.json
  src/lib/types/Enums.ts
  src/preconditions/Cooldown.ts
  yarn.lock
Labels: Event: Hacktoberfest, Meta: Feature, Type: Enhancement
