Repository sapphiredev/framework, pull requests merged in 2021-02, with the labels that each got.

#129 feat(client): change stores from a Set to a Map
  package.json
  src/events/command-handler/CorePrefixedMessage.ts
  src/index.ts
  src/lib/SapphireClient.ts
  src/lib/parsers/Args.ts
  src/lib/structures/ExtendedArgument.ts
  src/lib/structures/StoreRegistry.ts
  src/lib/utils/preconditions/PreconditionContainerSingle.ts
  yarn.lock
Labels: Meta: Feature, SEM: Major, Type: Enhancement

#159 feat(args): add Args#ok, refactored Args#error to return Err<ArgumentError<T>>
  src/lib/parsers/Args.ts
  src/lib/structures/Argument.ts
Labels: Meta: Feature, Meta: Refactor, SEM: Major

#162 feat(command-events): pass more context
  src/events/command-handler/CoreCommandAccepted.ts
  src/lib/types/Events.ts
Labels: Meta: Feature, SEM: Minor

#157 feat(command): add CommandContext#commandPrefix
  src/events/command-handler/CorePrefixedMessage.ts
  src/lib/structures/Command.ts
Labels: Meta: Feature, SEM: Minor

#158 feat(preconditions): add context to Container and Condition
  src/events/command-handler/CorePreCommandRun.ts
  src/lib/structures/Precondition.ts
  src/lib/utils/preconditions/IPreconditionContainer.ts
  src/lib/utils/preconditions/PreconditionContainerArray.ts
  src/lib/utils/preconditions/PreconditionContainerSingle.ts
  src/lib/utils/preconditions/conditions/IPreconditionCondition.ts
  src/lib/utils/preconditions/conditions/PreconditionConditionAnd.ts
  src/lib/utils/preconditions/conditions/PreconditionConditionOr.ts
  src/lib/utils/preconditions/containers/PermissionsPrecondition.ts
  src/preconditions/Cooldown.ts
Labels: Meta: Feature, SEM: Minor

#160 feat(args): change visibility of parser from private to protected
  src/lib/parsers/Args.ts
Labels: Meta: Documentation, Meta: Feature, SEM: Minor

#161 feat(errors): expose all identifiers in an enum
  src/arguments/CoreBoolean.ts
  src/arguments/CoreCategoryChannel.ts
  src/arguments/CoreChannel.ts
  src/arguments/CoreDMChannel.ts
  src/arguments/CoreDate.ts
  src/arguments/CoreFloat.ts
  src/arguments/CoreGuildChannel.ts
  src/arguments/CoreHyperlink.ts
  src/arguments/CoreInteger.ts
  src/arguments/CoreMember.ts
  src/arguments/CoreMessage.ts
  src/arguments/CoreNewsChannel.ts
  src/arguments/CoreNumber.ts
  src/arguments/CoreRole.ts
  src/arguments/CoreString.ts
  src/arguments/CoreTextChannel.ts
  src/arguments/CoreUser.ts
  src/arguments/CoreVoiceChannel.ts
  src/events/command-handler/CorePreCommandRun.ts
  src/index.ts
  src/lib/errors/Identifiers.ts
  src/lib/parsers/Args.ts
  src/lib/structures/Argument.ts
  src/preconditions/Cooldown.ts
  src/preconditions/DMOnly.ts
  src/preconditions/GuildOnly.ts
  src/preconditions/NSFW.ts
  src/preconditions/Permissions.ts
Labels: Meta: Feature, Meta: Refactor, SEM: Major

#164 feat(events): create Events.PreMessageParsed
  src/events/command-handler/CoreMessage.ts
  src/events/command-handler/CoreMessageParser.ts
  src/lib/types/Events.ts
Labels: Meta: Refactor, SEM: Major

#165 refactor(events): remove UnknownCommandName, changed UnknownCommand
  src/events/command-handler/CorePrefixedMessage.ts
  src/lib/types/Events.ts
Labels: Meta: Refactor, SEM: Major

#166 feat(events): added UnknownCommandPayload.commandName
  src/events/command-handler/CorePrefixedMessage.ts
  src/lib/types/Events.ts
Labels: Meta: Feature, SEM: Minor

#167 refactor(preconditions): make IPreconditionContainer#run's context optional
  src/events/command-handler/CorePreCommandRun.ts
  src/lib/structures/Precondition.ts
  src/lib/utils/preconditions/IPreconditionContainer.ts
  src/lib/utils/preconditions/PreconditionContainerArray.ts
  src/lib/utils/preconditions/PreconditionContainerSingle.ts
  src/preconditions/Cooldown.ts
Labels: Meta: Refactor, SEM: Major

#168 docs(argument): change argument name to parameter
  src/lib/structures/Argument.ts
Labels: Meta: Documentation, SEM: N/A

#169 docs(events): add tuple names to identify parameters
  src/lib/types/Events.ts
Labels: Meta: Documentation, SEM: N/A

#171 feat(args): add `name` to context of `Args.unavailableArgument`
  src/lib/parsers/Args.ts
Labels: Meta: Feature, Priority: High, SEM: Minor

#170 feat(message-parser): add `caseInsensitivePrefixes` client option
  src/events/command-handler/CoreMessageParser.ts
  src/lib/SapphireClient.ts
Labels: Meta: Feature, Priority: High, SEM: Minor

#173 feat(command-accepted): add received args to event payloads
  src/events/command-handler/CoreCommandAccepted.ts
  src/lib/types/Events.ts
Labels: Meta: Feature, Priority: High, SEM: Major

#174 feat(args): pass more context to args errors
  src/lib/parsers/Args.ts
Labels: Meta: Feature, SEM: Minor

#176 feat(structures): add global preconditions
  src/events/command-handler/CorePreCommandRun.ts
  src/lib/structures/Precondition.ts
  src/lib/structures/PreconditionStore.ts
  src/preconditions/Enabled.ts
Labels: Meta: Feature, SEM: Minor

#178 fix: make `conditions` public
  src/lib/utils/preconditions/PreconditionContainerArray.ts
Labels: Meta: Typings, Type: Enhancement
