Repository sapphiredev/framework, pull requests merged in 2021-09, with the labels that each got.

#260 feat: updated for `pieces` v3
  package.json
  src/errorListeners/CoreCommandError.ts
  src/errorListeners/CoreEventError.ts
  src/lib/structures/Command.ts
  src/lib/structures/CommandStore.ts
  src/lib/structures/Listener.ts
  yarn.lock
Labels: Meta: Refactor, Meta: Dependencies, SEM: Major

#262 fix(preconditions): properly check for `null` in ClientPermissions and UserPermissions
  src/lib/errors/Identifiers.ts
  src/preconditions/ClientPermissions.ts
  src/preconditions/UserPermissions.ts
Labels: Meta: BugFix, SEM: Patch, Priority: High

#289 feat: add managed role mention prefix support
  src/listeners/command-handler/CoreMessageParser.ts
Labels: Meta: Feature, SEM: Minor, Priority: High
