Repository sapphiredev/framework, pull requests merged in 2021-11, with the labels that each got.

#321 feat: deprecate `ExtendedArgument`
  src/lib/structures/ExtendedArgument.ts
Labels: Meta: Documentation, Meta: Feature, Meta: Cleanup, SEM: Minor, Priority: Medium

#322 feat(preconditions): export all core preconditions
  src/index.ts
  src/preconditions/index.ts
Labels: Meta: Feature, SEM: Minor, Priority: Medium

#329 fix(Listener): fixed compile issues on TS 4.5
  src/lib/structures/Listener.ts
Labels: Meta: Dependencies, Meta: BugFix, SEM: Minor, Priority: High

#330 feat: expose and use namespaces for options, context, etc
  package.json
  src/arguments/CoreBoolean.ts
  src/arguments/CoreChannel.ts
  src/arguments/CoreDMChannel.ts
  src/arguments/CoreDate.ts
  src/arguments/CoreFloat.ts
  src/arguments/CoreGuildCategoryChannel.ts
  src/arguments/CoreGuildChannel.ts
  src/arguments/CoreGuildNewsChannel.ts
  src/arguments/CoreGuildNewsThreadChannel.ts
  src/arguments/CoreGuildPrivateThreadChannel.ts
  src/arguments/CoreGuildPublicThreadChannel.ts
  src/arguments/CoreGuildStageVoiceChannel.ts
  src/arguments/CoreGuildTextChannel.ts
  src/arguments/CoreGuildThreadChannel.ts
  src/arguments/CoreGuildVoiceChannel.ts
  src/arguments/CoreHyperlink.ts
  src/arguments/CoreInteger.ts
  src/arguments/CoreMember.ts
  src/arguments/CoreMessage.ts
  src/arguments/CoreNumber.ts
  src/arguments/CorePartialDMChannel.ts
  src/arguments/CoreRole.ts
  src/arguments/CoreString.ts
  src/arguments/CoreUser.ts
  src/errorListeners/CoreEventError.ts
  src/index.ts
  src/lib/errors/ArgumentError.ts
  src/lib/errors/PreconditionError.ts
  src/lib/errors/UserError.ts
  src/lib/parsers/Args.ts
  src/lib/resolvers/guildNewsThreadChannel.ts
  src/lib/resolvers/hyperlink.ts
  src/lib/structures/Argument.ts
  src/lib/structures/Command.ts
  src/lib/structures/ExtendedArgument.ts
  src/lib/structures/Listener.ts
  src/lib/structures/Precondition.ts
  src/lib/types/Events.ts
  src/lib/utils/resolvers/resolveGuildChannelPredicate.ts
  src/listeners/command-handler/CoreCommandAccepted.ts
  src/listeners/command-handler/CoreCommandTyping.ts
  yarn.lock
Labels: Meta: Refactor, Meta: Feature, Meta: Dependencies, SEM: Minor, Priority: Medium
