Repository sapphiredev/framework, pull requests merged in 2021-01, with the labels that each got.

#124 fix(index): export PreconditionError
  src/index.ts
Labels: SEM: Minor

#130 feat(args): add Args#nextMaybe and Args#next
  src/events/command-handler/CorePreCommandRun.ts
  src/index.ts
  src/lib/parsers/Args.ts
  src/lib/parsers/Maybe.ts
  src/lib/parsers/Result.ts
  src/lib/structures/Argument.ts
  src/lib/structures/Command.ts
  src/lib/structures/ExtendedArgument.ts
  src/lib/structures/Precondition.ts
  src/lib/utils/preconditions/IPreconditionContainer.ts
  src/lib/utils/preconditions/conditions/PreconditionConditionAnd.ts
  src/lib/utils/preconditions/conditions/PreconditionConditionOr.ts
Labels: Meta: Feature, SEM: Minor, Type: Enhancement

#139 chore: use unified labels
  .github/labels.yml
  .github/workflows/labelsync.yml
Labels: Meta: Github, Meta: Refactor

#141 feat: add optional default error events
  src/errorEvents/CoreCommandError.ts
  src/errorEvents/CoreEventError.ts
  src/lib/SapphireClient.ts
Labels: Meta: Error Handling, Priority: Low, SEM: Minor, Type: Enhancement

#142 feat(argument): pass args through context
  src/lib/parsers/Args.ts
  src/lib/structures/Argument.ts
Labels: Meta: Feature, SEM: Minor

#143 feat(command): expose Command#lexer
  src/lib/structures/Command.ts
Labels: Meta: Feature, SEM: Minor

#138 docs: setup for writing guides
  .github/CONTRIBUTING.md
  .vscode/extensions.json
  guides/constants.mdx
  guides/getting-started/GettingStarted.mdx
  package.json
  typedoc.json
  yarn.lock
Labels: Meta: Documentation, Priority: Medium, SEM: N/A

#144 refactor: make errors take objects instead of many params
  src/arguments/CoreBoolean.ts
  src/arguments/CoreCategoryChannel.ts
  src/arguments/CoreChannel.ts
  src/arguments/CoreDMChannel.ts
  src/arguments/CoreDate.ts
  src/arguments/CoreFloat.ts
  src/arguments/CoreGuildChannel.ts
  src/arguments/CoreHyperlink.ts
  src/arguments/CoreInteger.ts
  src/arguments/CoreMember.ts
  src/arguments/CoreMessage.ts
  src/arguments/CoreNewsChannel.ts
  src/arguments/CoreNumber.ts
  src/arguments/CoreRole.ts
  src/arguments/CoreString.ts
  src/arguments/CoreTextChannel.ts
  src/arguments/CoreUser.ts
  src/arguments/CoreVoiceChannel.ts
  src/events/command-handler/CorePreCommandRun.ts
  src/lib/errors/ArgumentError.ts
  src/lib/errors/PreconditionError.ts
  src/lib/errors/UserError.ts
  src/lib/parsers/Args.ts
  src/lib/structures/Argument.ts
  src/lib/structures/ExtendedArgument.ts
  src/lib/structures/Precondition.ts
  src/preconditions/Cooldown.ts
  src/preconditions/DMOnly.ts
  src/preconditions/GuildOnly.ts
  src/preconditions/NSFW.ts
  src/preconditions/Permissions.ts
Labels: Meta: Refactor, SEM: Major

#145 feat(command parser): add regexPrefix client option
  src/events/command-handler/CoreMessageParser.ts
  src/events/command-handler/CorePrefixedMessage.ts
  src/lib/SapphireClient.ts
  src/lib/structures/Command.ts
  src/lib/types/Events.ts
Labels: Meta: Feature, Priority: Medium, SEM: Major, Type: Enhancement
