Repository sapphiredev/framework, pull requests merged in 2021-08, with the labels that each got.

#239 fix: fixed oversight in passing preconditions
  src/lib/structures/Command.ts
Labels: Meta: BugFix, SEM: Minor, Priority: Critical

#238 chore: update for stable v13 and latest d.js-utilities
  package.json
  src/arguments/CoreDMChannel.ts
  src/arguments/CoreGuildCategoryChannel.ts
  src/arguments/CoreGuildChannel.ts
  src/arguments/CoreGuildNewsChannel.ts
  src/arguments/CoreGuildStageVoiceChannel.ts
  src/arguments/CoreGuildTextChannel.ts
  src/arguments/CoreGuildThreadChannel.ts
  src/arguments/CoreGuildVoiceChannel.ts
  src/arguments/CoreMessage.ts
  src/lib/parsers/Args.ts
  yarn.lock
Labels: Meta: Dependencies

#243 fix(index): re-export `StoreRegistryEntries` from `@sapphire/pieces`
  src/index.ts
Labels: Meta: Dependencies, Meta: BugFix

#249 feat(cooldown): add `cooldownFilteredUsers` to exempt users from the cooldown precondition
  src/lib/structures/Command.ts
  src/lib/structures/Precondition.ts
  src/preconditions/Cooldown.ts
Labels: Meta: Feature, SEM: Minor, Priority: Medium

#252 feat: add UserPermissions precondition
  src/index.ts
  src/lib/errors/Identifiers.ts
  src/lib/structures/Command.ts
  src/lib/structures/Precondition.ts
  src/lib/utils/preconditions/containers/ClientPermissionsPrecondition.ts
  src/lib/utils/preconditions/containers/UserPermissionsPrecondition.ts
  src/preconditions/ClientPermissions.ts
  src/preconditions/UserPermissions.ts
Labels: Meta: Feature, SEM: Major, Priority: High
