Repository sapphiredev/framework, pull requests merged in 2022-01, with the labels that each got.

#357 feat: add duration to `*Error` and `*Finished` `Message`, `ChatInput` and `ContextMenu` Command events
  package.json
  src/lib/types/Events.ts
  src/listeners/application-commands/chat-input/CoreChatInputCommandAccepted.ts
  src/listeners/application-commands/context-menu/CoreContextMenuCommandAccepted.ts
  src/optional-listeners/message-command-listeners/CoreMessageCommandAccepted.ts
  yarn.lock
Labels: Meta: Feature, SEM: Major, Priority: Medium

#369 fix: remove `index` from `preconditions` folder
  src/index.ts
  src/lib/structures/Precondition.ts
  src/preconditions/ClientPermissions.ts
  src/preconditions/Cooldown.ts
  src/preconditions/UserPermissions.ts
  src/preconditions/index.ts
Labels: Meta: BugFix, SEM: Patch, Priority: Medium

#368 feat(command-registry): allow filtering guildIds from the `Failed to fetch guild commands` log
  src/lib/SapphireClient.ts
  src/lib/utils/application-commands/getNeededParameters.ts
Labels: Meta: Feature
