Repository sapphiredev/framework, pull requests merged in 2022-02, with the labels that each got.

#373 fix(message-parser): do not run commands when the bot has been timed out
  src/listeners/command-handler/CoreMessageParser.ts
Labels: Meta: BugFix, SEM: Minor, Priority: Critical

#372 feat(commands): more types for detailed description
  src/lib/structures/Command.ts
Labels: Meta: Feature, SEM: Minor, Priority: High

#376 feat: migrate to @sapphire/result and re-export the package
  package.json
  src/index.ts
  src/lib/parsers/Args.ts
  src/lib/parsers/Maybe.ts
  src/lib/parsers/Result.ts
  src/lib/resolvers/boolean.ts
  src/lib/resolvers/channel.ts
  src/lib/resolvers/date.ts
  src/lib/resolvers/dmChannel.ts
  src/lib/resolvers/emoji.ts
  src/lib/resolvers/enum.ts
  src/lib/resolvers/float.ts
  src/lib/resolvers/guildCategoryChannel.ts
  src/lib/resolvers/guildChannel.ts
  src/lib/resolvers/guildNewsChannel.ts
  src/lib/resolvers/guildNewsThreadChannel.ts
  src/lib/resolvers/guildPrivateThreadChannel.ts
  src/lib/resolvers/guildPublicThreadChannel.ts
  src/lib/resolvers/guildStageVoiceChannel.ts
  src/lib/resolvers/guildTextChannel.ts
  src/lib/resolvers/guildThreadChannel.ts
  src/lib/resolvers/guildVoiceChannel.ts
  src/lib/resolvers/hyperlink.ts
  src/lib/resolvers/index.ts
  src/lib/resolvers/integer.ts
  src/lib/resolvers/member.ts
  src/lib/resolvers/message.ts
  src/lib/resolvers/number.ts
  src/lib/resolvers/partialDMChannel.ts
  src/lib/resolvers/role.ts
  src/lib/resolvers/string.ts
  src/lib/resolvers/user.ts
  src/lib/structures/Argument.ts
  src/lib/structures/ExtendedArgument.ts
  src/lib/structures/InteractionHandler.ts
  src/lib/structures/InteractionHandlerStore.ts
  src/lib/structures/Listener.ts
  src/lib/structures/Precondition.ts
  src/lib/structures/PreconditionStore.ts
  src/lib/utils/application-commands/ApplicationCommandRegistry.ts
  src/lib/utils/application-commands/normalizeInputs.ts
  src/lib/utils/preconditions/IPreconditionContainer.ts
  src/lib/utils/preconditions/conditions/PreconditionConditionAnd.ts
  src/lib/utils/preconditions/conditions/PreconditionConditionOr.ts
  src/lib/utils/resolvers/resolveGuildChannelPredicate.ts
  src/listeners/application-commands/chat-input/CoreChatInputCommandAccepted.ts
  src/listeners/application-commands/context-menu/CoreContextMenuCommandAccepted.ts
  src/optional-listeners/error-listeners/CoreListenerError.ts
  src/optional-listeners/error-listeners/CoreMessageCommandError.ts
  src/optional-listeners/message-command-listeners/CoreMessageCommandAccepted.ts
  src/optional-listeners/message-command-listeners/CoreMessageCommandTyping.ts
  yarn.lock
Labels: Meta: Refactor, Meta: Feature, Meta: Dependencies

#387 fix(normalizeInputs): correctly handle old builders version
  src/lib/utils/application-commands/normalizeInputs.ts
Labels: Meta: BugFix, Status: Ready To Merge, SEM: Patch, Priority: High

#385 chore(ApplicationCommandRegistry): no more logging for 0 calls
  src/lib/utils/application-commands/ApplicationCommandRegistry.ts
Labels: Type: Enhancement, SEM: Patch

#391 chore: add extra logging for no api calls prepared
  src/lib/structures/Command.ts
  src/lib/utils/application-commands/ApplicationCommandRegistry.ts
Labels: SEM: Patch
