Repository sapphiredev/framework, pull requests merged in 2022-08, with the labels that each got.

#500 refactor: cleanup and proper `/pieces@3.4.0` support
  package.json
  src/lib/SapphireClient.ts
  src/lib/structures/ArgumentStore.ts
  src/lib/structures/Command.ts
  src/lib/structures/CommandStore.ts
  src/lib/structures/InteractionHandler.ts
  src/lib/structures/InteractionHandlerStore.ts
  src/lib/structures/ListenerStore.ts
  src/lib/structures/PreconditionStore.ts
  src/lib/utils/preconditions/containers/ClientPermissionsPrecondition.ts
  src/lib/utils/preconditions/containers/UserPermissionsPrecondition.ts
  src/listeners/CoreInteractionCreate.ts
  src/listeners/CoreReady.ts
  src/listeners/application-commands/CorePossibleAutocompleteInteraction.ts
  src/listeners/application-commands/chat-input/CoreChatInputCommandAccepted.ts
  src/listeners/application-commands/chat-input/CorePossibleChatInputCommand.ts
  src/listeners/application-commands/chat-input/CorePreChatInputCommandRun.ts
  src/listeners/application-commands/context-menu/CoreContextMenuCommandAccepted.ts
  src/listeners/application-commands/context-menu/CorePossibleContextMenuCommand.ts
  src/listeners/application-commands/context-menu/CorePreContextMenuCommandRun.ts
  src/optional-listeners/error-listeners/CoreChatInputCommandError.ts
  src/optional-listeners/error-listeners/CoreCommandApplicationCommandRegistryError.ts
  src/optional-listeners/error-listeners/CoreCommandAutocompleteInteractionError.ts
  src/optional-listeners/error-listeners/CoreContextMenuCommandError.ts
  src/optional-listeners/error-listeners/CoreInteractionHandlerError.ts
  src/optional-listeners/error-listeners/CoreInteractionHandlerParseError.ts
  src/optional-listeners/error-listeners/CoreListenerError.ts
  src/optional-listeners/error-listeners/CoreMessageCommandError.ts
  src/optional-listeners/message-command-listeners/CoreMessageCommandAccepted.ts
  src/optional-listeners/message-command-listeners/CoreMessageCommandTyping.ts
  src/optional-listeners/message-command-listeners/CoreMessageCreate.ts
  src/optional-listeners/message-command-listeners/CorePreMessageCommandRun.ts
  src/optional-listeners/message-command-listeners/CorePreMessageParser.ts
  src/optional-listeners/message-command-listeners/CorePrefixedMessage.ts
  yarn.lock
Labels: dependencies, feature, refactor, semver:minor, typings

#509 refactor: cleanup types and ensure proper imports in dist
  package.json
  src/arguments/CoreHyperlink.ts
  src/index.ts
  src/lib/parsers/Args.ts
  src/lib/resolvers/hyperlink.ts
  src/lib/structures/Argument.ts
  src/lib/structures/Listener.ts
  src/preconditions/ClientPermissions.ts
  src/preconditions/Cooldown.ts
  src/preconditions/DMOnly.ts
  src/preconditions/Enabled.ts
  src/preconditions/GuildNewsOnly.ts
  src/preconditions/GuildNewsThreadOnly.ts
  src/preconditions/GuildOnly.ts
  src/preconditions/GuildPrivateThreadOnly.ts
  src/preconditions/GuildPublicThreadOnly.ts
  src/preconditions/GuildTextOnly.ts
  src/preconditions/GuildThreadOnly.ts
  src/preconditions/GuildVoiceOnly.ts
  src/preconditions/NSFW.ts
  src/preconditions/UserPermissions.ts
  tests/resolvers/hyperlink.test.ts
Labels: refactor, typings

#515 fix(message-listeners): fixed potential null pointer exception in canRunInChannel
  src/optional-listeners/message-command-listeners/CorePreMessageParser.ts
Labels: bug:confirmed, priority:high, semver:patch

#511 Various `Args` fixes (rebase & merge)
  src/lib/parsers/Args.ts
Labels: documentation, feature, needs rebase & merge, priority:high, regression, semver:minor
