Repository sapphiredev/framework, pull requests merged in 2022-05, with the labels that each got.

#422 chore: bump jest and use mjs
  .github/CODEOWNERS
  .gitignore
  jest.config.mjs
  jest.config.ts
  package.json
  tsconfig.eslint.json
  yarn.lock
Labels: Meta: Dependencies, Priority: Low

#431 feat(*): update to discord.js v13.7.0
  .cliff-jumperrc.yml
  .github/workflows/continuous-delivery.yml
  .yarn/releases/yarn-3.2.0.cjs
  .yarn/releases/yarn-3.2.1.cjs
  .yarnrc.yml
  CHANGELOG.md
  cliff.toml
  package.json
  src/lib/structures/Command.ts
  src/lib/structures/InteractionHandler.ts
  src/lib/structures/InteractionHandlerStore.ts
  src/lib/utils/application-commands/ApplicationCommandRegistry.ts
  src/lib/utils/application-commands/computeDifferences.ts
  src/lib/utils/application-commands/normalizeInputs.ts
  tests/application-commands/computeDifferences.test.ts
  yarn.lock
Labels: Meta: Dependencies, SEM: Minor, Type: Dependencies

#435 feat(*): update to discord.js v13.7.0
  .cliff-jumperrc.yml
  .github/workflows/continuous-delivery.yml
  .yarn/releases/yarn-3.1.1.cjs
  .yarn/releases/yarn-3.2.1.cjs
  .yarnrc.yml
  CHANGELOG.md
  cliff.toml
  package.json
  yarn.lock
Labels: Meta: Feature, Priority: High

#432 fix: command reloading issues with HMR plugin
  src/lib/structures/Command.ts
Labels: Meta: BugFix, Priority: Medium
