Repository sapphiredev/framework, pull requests merged in 2023-12, with the labels that each got.

#697 refactor: switch to split cjs and esm builds and fully build with tsup
  .rollup-type-bundlerrc.yml
  package.json
  tsup.config.ts
  yarn.lock
Labels: semver:patch

#699 fix: point ESM entrypoint to CJS build
  package.json
Labels: priority:critical, semver:patch

#700 feat!: make ESM properly load ESM endpoint and not masquerade as ESM
  package.json
Labels: semver:major

#701 fix(normalizeInputs): bring back the defaulting I removed
  src/lib/utils/application-commands/normalizeInputs.ts
Labels: priority:high, semver:patch
