Repository sapphiredev/framework, pull requests merged in 2023-01, with the labels that each got.

#586 fix(computeDifferences): ensure `Overwrite` strategy is actually faster
  src/lib/types/Enums.ts
  src/lib/utils/application-commands/ApplicationCommandRegistry.ts
  src/lib/utils/application-commands/computeDifferences.ts
  tests/application-commands/computeDifferences.test.ts
Labels: refactor, semver:patch

#585 feat(ApplicationCommandRegistries): add `RegisterBehavior.BulkOverwrite` which has Sapphire use bulk overwrite for registering Application Commands
  src/lib/types/Enums.ts
  src/lib/utils/application-commands/ApplicationCommandRegistries.ts
  src/lib/utils/application-commands/ApplicationCommandRegistry.ts
  src/lib/utils/application-commands/registriesLog.ts
Labels: in review, semver:minor

#587 feat: add `ApplicationCommandRegistriesRegistered` event
  src/lib/types/Events.ts
  src/lib/utils/application-commands/ApplicationCommandRegistries.ts
Labels: feature, semver:minor

#512 feat(deps)!: support for djs v14
  .prettierignore
  package.json
  src/lib/SapphireClient.ts
  src/lib/errors/Identifiers.ts
  src/lib/errors/UserError.ts
  src/lib/parsers/Args.ts
  src/lib/resolvers/channel.ts
  src/lib/resolvers/dmChannel.ts
  src/lib/resolvers/emoji.ts
  src/lib/resolvers/message.ts
  src/lib/structures/Argument.ts
  src/lib/structures/Command.ts
  src/lib/structures/InteractionHandler.ts
  src/lib/structures/Listener.ts
  src/lib/structures/Precondition.ts
  src/lib/structures/PreconditionStore.ts
  src/lib/types/Enums.ts
  src/lib/types/Events.ts
  src/lib/utils/application-commands/ApplicationCommandRegistry.ts
  src/lib/utils/application-commands/computeDifferences.ts
  src/lib/utils/application-commands/normalizeInputs.ts
  src/lib/utils/logger/ILogger.ts
  src/lib/utils/preconditions/IPreconditionContainer.ts
  src/lib/utils/preconditions/PreconditionContainerArray.ts
  src/lib/utils/preconditions/PreconditionContainerSingle.ts
  src/lib/utils/preconditions/conditions/IPreconditionCondition.ts
  src/lib/utils/preconditions/containers/ClientPermissionsPrecondition.ts
  src/lib/utils/preconditions/containers/UserPermissionsPrecondition.ts
  src/listeners/CoreInteractionCreate.ts
  src/listeners/application-commands/chat-input/CorePossibleChatInputCommand.ts
  src/listeners/application-commands/context-menu/CorePossibleContextMenuCommand.ts
  src/optional-listeners/message-command-listeners/CorePreMessageParser.ts
  src/preconditions/ClientPermissions.ts
  src/preconditions/Cooldown.ts
  src/preconditions/DMOnly.ts
  src/preconditions/Enabled.ts
  src/preconditions/GuildNewsOnly.ts
  src/preconditions/GuildNewsThreadOnly.ts
  src/preconditions/GuildOnly.ts
  src/preconditions/GuildPrivateThreadOnly.ts
  src/preconditions/GuildPublicThreadOnly.ts
  src/preconditions/GuildTextOnly.ts
  src/preconditions/GuildThreadOnly.ts
  src/preconditions/GuildVoiceOnly.ts
  src/preconditions/NSFW.ts
  src/preconditions/UserPermissions.ts
  tests/application-commands/computeDifferences.test.ts
  yarn.lock
Labels: chore, dependencies, documentation, refactor, semver:major, tests, discordjs

#590 fix(ApplicationCommandRegistry): context menu command matching went wrong
  src/lib/utils/application-commands/ApplicationCommandRegistry.ts
Labels: priority:critical, semver:patch
