Repository sapphiredev/framework, pull requests merged in 2023-11, with the labels that each got.

#688 refactor(cooldown): use id properties for channelId and guildId
  src/preconditions/Cooldown.ts
Labels: refactor, semver:patch

#683 docs: fix link to discord.js
  src/lib/SapphireClient.ts
Labels: blocked, semver:patch, discordjs

#690 fix: register `CoreReady` piece correctly
  src/listeners/CoreReady.ts
Labels: priority:critical, regression, semver:patch

#691 refactor(Command): minor improvements
  src/lib/structures/Command.ts
Labels: documentation, needs rebase & merge, refactor, semver:patch
