Repository sapphiredev/framework, pull requests merged in 2023-04, with the labels that each got.

#626 feat(Args): add guild argument
  src/arguments/CoreGuild.ts
  src/lib/errors/Identifiers.ts
  src/lib/resolvers/guild.ts
  src/lib/resolvers/index.ts
Labels: feature, in review, semver:minor

#627 feat: make the Application Command Registries status listeners optional
  src/lib/SapphireClient.ts
  src/lib/types/Events.ts
  src/lib/utils/application-commands/ApplicationCommandRegistries.ts
  src/listeners/CoreReady.ts
  src/optional-listeners/application-command-registries-listeners/CoreApplicationCommandRegistriesInitialising.ts
  src/optional-listeners/application-command-registries-listeners/CoreApplicationCommandRegistriesRegistered.ts
Labels: feature, semver:minor

#630 fix(permissions): add missing permission strings
  src/preconditions/ClientPermissions.ts
  yarn.lock
Labels: dependencies, priority:critical, regression, semver:patch
