Repository sapphiredev/framework, pull requests merged in 2024-01, with the labels that each got.

#716 fix(ApplicationCommandRegistries): add the right ids in the right place
  src/lib/utils/application-commands/ApplicationCommandRegistries.ts
  src/lib/utils/application-commands/ApplicationCommandRegistry.ts
Labels: semver:patch

#719 fix(computeDifferences): check channel types
  src/lib/utils/application-commands/compute-differences/_shared.ts
  src/lib/utils/application-commands/compute-differences/option.ts
  src/lib/utils/application-commands/compute-differences/option/channelTypes.ts
  src/lib/utils/application-commands/compute-differences/option/minMaxValue.ts
  tests/application-commands/computeDifferences.test.ts
Labels: semver:patch, tests

#718 fix: fixed commonjs typings export mapping
  package.json
Labels: regression, semver:patch, typings

#722 docs: improve `UserError` docs
  src/lib/errors/UserError.ts
  src/lib/parsers/Args.ts
Labels: documentation
